name: CI/CD Azure Web App

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Login a Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy a Azure Web App
        uses: azure/webapps-deploy@v2
        with:
          app-name: mi-app
          publish-profile: ${{ secrets.AZURE_PUBLISH_PROFILE }}

